{% load static %}
<div class="tm-bottom-f-box tm-default-bg amfi">
    <div class="uk-container uk-container-center">
        <section class="tm-bottom-f uk-grid tm-xlarge-padding" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-panel widget_text" >
                    <div class="uk-grid get-it-now-box">
                        <div class="uk-width-large-4-5 uk-width-medium-4-5 uk-width-small-1-1 text-widget-block">
                        	<h1> <b>AMFI</b></h1>
                            <span>AMFI was setup to assist the poor and vulnerable to carry out Catholic relief service as we act to promote human development by responding to major emergencies, fighting poverty and nuturing peaceful and just society. </span>
                            <br>
                            <p>Augustine Mission Foundation Ikorodu.</p>
                        </div>
                        <div class="uk-width-large-1-5 uk-width-medium-1-5 uk-width-small-1-1">
                            <a class="tm-button-left" href="https://www.amfiinstitute.com">enroll now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
