{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} Event Details
{% endblock %}

{% block jumbotron %}
{% include 'celebration/header-detail.html' %}



<div class="tm-slider-box tm-light-bg">
    <section class="tm-slider uk-grid tm-none-padding" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin>
        <!-- start full width -->
        <div class="uk-width-1-1">
            <div class="uk-panel top-pageslider CuteChurch">

                <div class="slider-module">
                    <div class="uk-slidenav-position" data-uk-slideshow="{height: &#039;300&#039;, animation: &#039;fade&#039;, duration: &#039;&#039;, autoplay: true, autoplayInterval: &#039;5000&#039;, videoautoplay: false, videomute: false, kenburns: false}">
                        <ul class="uk-slideshow uk-overlay-active">
                            <li class="uk-cover uk-height-viewport  tm-wrap"><img src="{% static 'images/bg_page.jpg' %}' %}" alt="bg_page" width="1920" height="360" class="aligncenter size-full" />
                            </li>
                            <li class="uk-cover uk-height-viewport  tm-wrap"><img src="{% static 'images/bg_page-01.jpg' %}' %}" alt="bg_page-01" width="1920" height="300" class="aligncenter size-full" />
                            </li>
                            <li class="uk-cover uk-height-viewport  tm-wrap"><img src="{% static 'images/bg_page-02.jpg' %}' %}" alt="bg_page-02" width="1920" height="300" class="aligncenter size-full" />
                                <div class="uk-cover-background uk-position-cover" style="background-image: url(&quot;{% static 'images/bg_page-02.jpg' %}&quot;);"></div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <!-- end full width -->
    </section>
</div>
{% endblock %}



{% block event %}
<div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-match data-uk-grid-margin>
        <div class="tm-main uk-width-medium-3-4 tm-middle">
            <main class="tm-content">
                <div id="tribe-events-pg-template">
                    <div id="tribe-events" class="tribe-no-js" data-live_ajax="0" data-datepicker_format="0" data-category="">
                        <div id="tribe-events-content" class="tribe-events-single vevent hentry">
                            <!-- Notices -->
                            {% if event.title %}
                            <h2 class="tribe-events-single-event-title summary entry-title">{{ event.title }}</h2>
                            {% endif %}
                            <!-- #tribe-events-header -->
                            <div class="tm-single-event-meta">
                                <div class="tribe-events-event-meta">
                                	{% if event.organizer %}
                                    <div class="tribe-events-meta-group"><span>Organizer:</span> {{ event.organizer }}</div>
                                    {% endif %}

                                    {% if event.phone_number %}
                                    <div class="tribe-events-meta-group"><span>Phone:</span> {{ event.phone_number }}</div>
                                    {% endif %}

                                    {% if event.email_organizer %}
                                    <div class="tribe-events-meta-group"><span>Email:</span> {{ event.email_organizer }}</div>
                                    {% endif %}
                                    <div class="clr"></div>
                                </div>
                            </div>
                            <div id="post-211" class="post-211 tribe_events type-tribe_events status-publish has-post-thumbnail tribe_events_cat-classes cat_classes">
                                <!-- Event featured image, but exclude link -->
                                <div class="tm-single-event-image">
                                	{% if event.image_1024_by_300 %}
                                	<div class="tribe-events-event-image"><img width="1024" height="300" src="{{ event.image_1024_by_300.url }}" class="attachment-event-image wp-post-image" alt="{{ event.title }}" />
                                    </div>
                                	{% else %}
                                    <div class="tribe-events-event-image"><img width="1024" height="300" src="{% static 'images/1024_300_default.png' %}" class="attachment-event-image wp-post-image" alt="NEWS" />
                                    </div>
                                    {% endif %}
                                    <div class="tm-event-info">
                                        <div class="post-date">
                                            <div class="day">
                                            	{% if event.event_start_date %}
                                                <span>{{ event.event_start_date|date:"d"}}</span>
                                                <p class="">{{ event.event_start_date|date:"M Y"}}</p>
                                                <p class=""></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Event meta -->
                                <div class="tribe-events-single-section tribe-events-event-meta primary tribe-clearfix">
                                    <div class="tribe-events-meta-group tribe-events-meta-group-details">
                                    	{% if event.event_start_date %}
                                        <h3 class="tribe-events-single-section-title"> Details </h3>
                                        {% endif %}
                                        <dl>
                                        	{% if event.event_start_date %}
                                            <dt> Date: </dt>
                                            <dd>
                                                <abbr class="tribe-events-abbr updated published dtstart" title='{{ event.event_start_date|date:"d M Y"}}'>{{ event.event_start_date|date:"d M Y"}}</abbr>
                                            </dd>
                                            {% endif %}
                                            <!-- <dt> End: </dt>
                                            <dd>
                                                <abbr class="tribe-events-abbr dtend" title="2016-03-11"> 11th March 2016 @ 5:00 pm </abbr>
                                            </dd> -->
                                            {% if event.cost %}
                                            <dt> Cost: </dt>
                                            <dd class="tribe-events-event-cost"> {{ event.cost }} </dd>
                                            {% endif %}

                                            {% if event.cost %}
                                            <dt>Event Category:</dt>
                                            <dd class="tribe-events-event-categories">
                                            	<a href="#" rel="tag">{{ event.category }}</a>
                                            </dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                    <div class="tribe-events-meta-group tribe-events-meta-group-venue">
                                    	{% if event.venue %}
                                        <h3 class="tribe-events-single-section-title"> Venue </h3>
                                        {% endif %}
                                        <dl>
                                        	{% if event.venue %}
                                            <dd class="author fn org"> {{ event.venue }} </dd>
                                            <dd class="location">
                                                <address class="tribe-events-address">
													<span class="adr">
														<span class="street-address">{{ event.venue }}</span>
														<!-- <span class="delimiter">,</span>  
														<span class="locality">Minneapolis</span>
														<span class="delimiter">,</span>  
														<span class="postal-code">MN 55415-1793</span> 
														<span class="country-name">United States</span> -->
													</span>
												</address>
                                            </dd>
                                            {% endif %}

                                            {% if event.phone_number %}
                                            <dt> Phone: </dt>
                                            <dd class="tel"> {{ event.phone_number }}</dd>
                                            {% endif %}
                                        </dl>
                                    </div>
                                    {% if event.organizer %}
                                    <div class="tribe-events-meta-group tribe-events-meta-group-organizer">
                                        <h3 class="tribe-events-single-section-title">Organiser</h3>
                                        <dl>

		                                    <dd class="fn org">{{ event.organizer }}</dd>
		                                    <!-- <dt>Phone:</dt>
		                                    <dd class="tel">1800.785.876</dd>
		                                    <dt>Email:</dt>
		                                    <dd class="email">church_test@mail.com</dd>
		                                    <dt>Website:</dt>
		                                    <dd class="url"><a href="#" target="self">church_test.com</a></dd> -->
                                        </dl>
                                    </div>
                                    {% endif %}
                                </div>
                                <!-- Event content -->

                                <div class="tribe-events-single-event-description tribe-events-content entry-content description">
                                    {% if event.body %}
                                    <p>{{ event.body|safe }}</p>
                                    <hr>
                                    {% endif %}
                                    
                                    <div class="tm-post-social-block">
                                        <div id="text-5" class="widget widget_text">
                                            <div class="textwidget">
                                                <ul class="social-icons">
                                                   <!--  <li><a href="http://www.facebook.com" target="_blank"><i class="uk-icon-facebook-f"></i></a>
                                                    </li>
                                                    <li><a href="http://twitter.com/" target="_blank"><i class="uk-icon-twitter"></i></a>
                                                    </li>
                                                    <li><a href="http://plus.google.com/" target="_blank"><i class="uk-icon-google-plus"></i></a>
                                                    </li>
                                                    <li><a href="http://www.linkedin.com" target="_blank"><i class="uk-icon-linkedin"></i></a>
                                                    </li>
                                                    <li><a href="http://www.youtube.com/" target="_blank"><i class="uk-icon-youtube"></i></a>
                                                    </li>
                                                    <li><a href="http://vk.com/" target="_blank"><i class="uk-icon-vk"></i></a>
                                                    </li>
                                                    <li><a href="http://instagram.com/" target="_blank"><i class="uk-icon-instagram"></i></a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- #post-x -->
                            
                            <!-- Event footer -->
                        </div>
                        <!-- #tribe-events-content -->
                        <div class="tribe-events-after-html"></div>
                    </div>
                    <!-- #tribe-events -->
                </div>
                <!-- #tribe-events-pg-template -->
            </main>
        </div>
        <aside class="tm-sidebar-b uk-width-medium-1-4 tm-middle">
            <div class="uk-panel CuteEventsSidebar">
                <h3 class="uk-panel-title">Upcoming  Events</h3>
                <div class="uk-grid tm-cat-event-sb-widget">
                    <ul>
                    	{% for i in mass %}
                        <li class="">
                            <div class="post-date">
                                <div class="day">
                                    <span>{{ i.event_start_date|date:"d"}}</span>
                                    <p>{{ i.event_start_date|date:"M"}}</p>
                                </div>
                            </div>
                            <div class="">
                                <h5><a href="#">{{ i.title }}</a></h5>
                                <p class="">{{ i.venue }}</p>
                                <p class="">{{ i.event_start_date|date:"d M"}}&#32;{{ i.event_start_date|date:"H:m"}} am&#32;-&#32;5:00 pm</p>
                                <div class="duration"></div>
                            </div>
                            <div class="clr"></div>
                        </li>
                        {% endfor %}
                        

                    </ul>
                </div>
            </div>
            <div class="uk-panel CuteEventGallery">
                <h3 class="uk-panel-title">Event Photos</h3>
                <div class="tm-widget-post-image">
                    <a href="#"><img width="82" height="70" src="{% static 'images/gall-img-011-82x70.jpg' %}" class="attachment-post-small-thumbnails wp-post-image" alt="gall-img-011" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="#"><img width="82" height="70" src="{% static 'images/gall-img-0031-82x70.jpg' %}" class="attachment-post-small-thumbnails wp-post-image" alt="NEWS" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="#"><img width="82" height="70" src="{% static 'images/gall-img-006-82x70.jpg' %}" class="attachment-post-small-thumbnails wp-post-image" alt="NEWS" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="#"><img width="82" height="70" src="{% static 'images/gall-img-0041-82x70.jpg' %}" class="attachment-post-small-thumbnails wp-post-image" alt="EVENTS" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="#"><img width="82" height="70" src="{% static 'images/gall-img-0081-82x70.jpg' %}" class="attachment-post-small-thumbnails wp-post-image" alt="GALLERY" />
                    </a>
                </div>
                <div class="tm-widget-post-image">
                    <a href="#"><img width="82" height="70" src="{% static 'images/slider-img-01-82x70.jpg' %}" class="attachment-post-small-thumbnails wp-post-image" alt="slider-img-01" />
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div>

{% endblock %}




{% block footer %}
{% include 'home/footer.html' %}
{% endblock %}
