
<nav class="uk-navbar">


							<!--tm-navbar (hide defolt styles) -->
							<ul class="uk-navbar-nav uk-hidden-small">
								<li class="uk-parent uk-active" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
									<a href="{% url 'home:home' %}" class="">HOME</a>
									<!-- <div style="" class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
										<div class="uk-grid uk-dropdown-grid">
											<div class="uk-width-1-1">
												<ul class="uk-nav uk-nav-navbar">
													<li>
														<a href="index-home2.html" class="">HOME 2</a>
													</li>
													<li>
														<a href="index-home3.html" class="">HOME 3</a>
													</li>
													<li>
														<a href="../chocolate/index.html" class="">CHOCOLATE STYLE</a>
													</li>
													<li>
														<a href="../green/index.html" class="">GREEN STYLE</a>
													</li>
													<li>
														<a href="../blue/index.html" class="">BLUE STYLE</a>
													</li>
												</ul>
											</div>
										</div>
									</div> -->
								</li>
								<li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
									<a href="{% url 'home:events' %}" class="">EVENT</a>
									<!-- <div style="" class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-2">
										<div class="uk-grid uk-dropdown-grid">
											<div class="uk-width-1-2">
												<ul class="uk-nav uk-nav-navbar">
													<li>
														<a href="layouts.html" class="">LAYOUTS</a>
													</li>
													<li>
														<a href="offline.html" class="">MAINTENANCE</a>
													</li>
													<li>
														<a href="coming.html" class="">COMING SOON</a>
													</li>
													<li>
														<a href="error.html" class="">ERROR PAGE</a>
													</li>
													<li>
														<a href="single-article.html" class="">SINGLE ARTICLE</a>
													</li>
												</ul>
											</div>
											<div class="uk-width-1-2">
												<ul class="uk-nav uk-nav-navbar">
													<li>
														<a href="left-content.html" class="">LEFT + CONTENT</a>
													</li>
													<li>
														<a href="left-right-content.html" class="">LEFT + RIGHT + CONTENT</a>
													</li>
													<li>
														<a href="left-content-right.html" class="">LEFT + CONTENT + RIGHT</a>
													</li>
													<li>
														<a href="content-right.html" class="">CONTENT + RIGHT</a>
													</li>
													<li>
														<a href="content-left-right.html" class="">CONTENT + LEFT + RIGHT</a>
													</li>
												</ul>
											</div>
										</div>
									</div> -->
								</li>
								<li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
									<a href="sermons.html" class="">SERMONS</a>
									<!-- <div style="" class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
										<div class="uk-grid uk-dropdown-grid">
											<div class="uk-width-1-1">
												<ul class="uk-nav uk-nav-navbar">
													<li>
														<a href="event-list.html" class="">EVENT LIST</a>
													</li>
												</ul>
											</div>
										</div>
									</div> -->
								</li>
									<li>
										<a href="{% url 'gallery:gallery' %}" class="">GALLERY</a>
									</li>
									<li class="uk-parent" data-uk-dropdown="{}" aria-haspopup="true" aria-expanded="false">
										<a href="{% url 'priests:priests' %}" class="">PRIESTS</a>
										<!-- <div style="" class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
											<div class="uk-grid uk-dropdown-grid">
												<div class="uk-width-1-1">
													<ul class="uk-nav uk-nav-navbar">
														<li>
															<a href="our-pastors.html" class="">OUR PASTORS</a>
														</li>
														<li>
															<a href="testimonials.html" class="">TESTIMONIALS</a>
														</li>
														<li>
															<a href="faq.html" class="">HELP</a>
														</li>
													</ul>
												</div>
											</div>
										</div> -->
									</li>
									<li>
										<a href="https://www.amfiinstitute.com" class="">AMFI</a>
									</li>
									<li>
										<a href="{% url 'about:about' %}" class="">ABOUT</a>
									</li>
									<li>
										<a href="contact-us.html" class="">CONTACT US</a>
									</li>
									<!-- <li>
										<a href="contact-us.html" class="">CONTACT US</a>
									</li> -->
								</ul>						
								<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
						</nav>